<div class="container">
<h1><strong>Sobre o Bora</strong></h1>
<p class="lead">Estamos trabalhando em um app que tornará mais fácil combinar saídas com os amigos. <br> Conecte-se ao Bora de qualquer lugar e saiba qual é a boa.</p>

</br>
<address>
  <h4><strong>Endereço</strong></h4>
  Av. Prof. Carlos Nelson Ferreira, 290<br>
  Camboinhas, Niterói - RJ<br>
  24358-705<br>
</address>

<address>
  <strong>Vinícius Azevedo</strong><br>
  <a href="mailto:#">azevedo.vinicius@gmail.com</a><br>
  <abbr title="Phone">Tel:</abbr> (21) 99992-9837
</address>
</div>